.sheet-show-gm-tools {
    display: block;
    position: absolute;
    top: 52px;
    right: 43px;
}

.sheet-show-gm-tools ~ .sheet-gm-only {
    display: none;
}

.sheet-show-gm-tools:checked ~ .sheet-gm-only {
    display: inherit;
}

input.sheet-options {
    cursor: pointer;
    opacity: 0;
    position: relative;
    width: 87px;
    z-index: 9000;
}

input.sheet-options + span.sheet-attr {
    background: white;
    border-radius: 4px 4px 0px 0px;
    border: 1px solid black;
    cursor: pointer;
    display: inline-block;
    margin-left: -91px;
    padding-left: 2px;
    padding-right: 2px;
    position: relative;
    text-align: center;
    width: 87px;
}

input.sheet-options:checked + span.sheet-attr {
    border-bottom: 1px solid white;
    color: #2A2D80;
    text-shadow: 0px 0px 0px black;
    z-index: 9099;
}

input.sheet-page-one ~ span.sheet-page-one,
input.sheet-page-two ~ span.sheet-page-two,
input.sheet-page-three ~ span.sheet-page-three {
    display: none;
}

input.sheet-page-one:checked ~ span.sheet-page-one,
input.sheet-page-two:checked ~ span.sheet-page-two,
input.sheet-page-three:checked ~ span.sheet-page-three {
    display: inline-block;
}

div.sheet-separator {
    border-top: 1px solid black;
    display: grid;
    margin-top: -1px;
    padding-bottom: 10px;
    width: 100%;
}

.sheet-title {
    font-variant-caps: small-caps;
    font-size: 14px;
}

.sheet-medium-text {
    width: 80px;
}

.sheet-short-text {
    width: 40px;
}

.sheet-group {
    display: inline-block;
    font-size: 11px;
    float: left;
    padding: 0px 0px 4px 4px;
}

.sheet-group td {
    border: solid 1px #333;
}

.sheet-attributes td:nth-child(3) {
    text-align: center;
}

.sheet-group th {
    background: #333;
    border: 1px solid #333;
    color: #e3e3e3;
    font-variant-caps: small-caps;
    padding: 5px;
}

.sheet-group textarea {
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: stretch;
    height: 50px;
    margin: 0;
}

.sheet-group textarea.sheet-tall {
    height: 170px;
}

.sheet-group textarea.sheet-wide {
    width: 350px;
}

.sheet-full {
    width: 100%;
}

.sheet-attributes td:nth-child(1),
.sheet-concept td:nth-child(odd),
.sheet-dice td:nth-child(1),
.sheet-money td:nth-child(1),
.sheet-statistics td:nth-child(odd) {
    background: #333;
    color: #e3e3e3;
    font-weight: bold;
    padding: 5px;
}

.sheet-natural-abilities tr:nth-child(odd),
.sheet-practiced-abilities tr:nth-child(odd) {
    background: #ccc;
}

.sheet-rolltemplate-powerroll .sheet-title,
.sheet-rolltemplate-attributeroll .sheet-title,
.sheet-rolltemplate-weaponroll .sheet-title,
.sheet-rolltemplate-standardroll .sheet-title {
    font-variant-caps: small-caps;
    font-size: 14px;
}

.sheet-rolltemplate-powerroll td:nth-child(odd),
.sheet-rolltemplate-attributeroll td:nth-child(odd),
.sheet-rolltemplate-weaponroll td:nth-child(odd),
.sheet-rolltemplate-standardroll td:nth-child(odd) {
    background: #333;
    color: #e3e3e3;
    font-weight: bold;
    padding: 5px;
}

.sheet-rolltemplate-powerroll td.sheet-table-grey {
    background: #e3e3e3;
    color: #333;
}

.sheet-rolltemplate-powerroll td:nth-child(even),
.sheet-rolltemplate-attributeroll td:nth-child(even),
.sheet-rolltemplate-weaponroll td:nth-child(even),
.sheet-rolltemplate-standardroll td:nth-child(even) {
    background: #e3e3e3;
    color: #333;
    font-weight: bold;
    padding: 5px;
    text-align: right;
}

.sheet-rolltemplate-powerroll td,
.sheet-rolltemplate-attributeroll td,
.sheet-rolltemplate-weaponroll td,
.sheet-rolltemplate-standardroll td {
    border: 1px solid #333;
}

.sheet-rolltemplate-powerroll th,
.sheet-rolltemplate-attributeroll th,
.sheet-rolltemplate-weaponroll th,
.sheet-rolltemplate-standardroll th {
    background: #333;
    border: 1px solid #333;
    color: #e3e3e3;
    font-variant-caps: small-caps;
    padding: 5px;
}

.sheet-rolltemplate-powerroll .inlinerollresult,
.sheet-rolltemplate-attributeroll .inlinerollresult,
.sheet-rolltemplate-weaponroll .inlinerollresult,
.sheet-rolltemplate-standardroll .inlinerollresult {
    background: none;
    border: 2px solid #B18EFE;
}
